body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: white;
}

a {
	color: #6DB114;
	text-decoration:none;
}

a:hover {
	color: #365B0B;
	text-decoration:underline;
}

a:focus, a:visited {
	color: #6DB114;
}

#page
{
	margin-top: 0px;
	margin-bottom: 5px;
	background: white;
	text-align: left;
}

#usermenu
{
	float: right;
}

#usermenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;

}

#usermenu ul li
{
	display: inline;
}

#usermenu ul li a
{
	color:#6DB114;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#usermenu ul li a:hover, #usermenu ul li.active a
{
	color: #365B0B;
	text-decoration:none;
}

#header
{
	margin: 0;
	padding: 0 0 0 220px;
	border-top: 1px solid #365B0B;
	background:white url(/images/schooltree.png) no-repeat left bottom;
	height: 150px !important;
}

#content
{
	clear: left;
	float: left;
	width: 92%;
	padding-top: 10px;
	margin: 0 4% 0 4%;
	display: block;
}

#content-container {
	width: 100%;
	padding: 0px;
}

#content-container #content
{
	clear: left;
	float: left;
	width: 70%;
	padding-top: 10px;
	margin: 0 0 0 4%;
	display: inline;
}

#content-container #sidebar
{
	float: right;
	width: 16%;
	min-width: 200px;
	margin: 0 3% 0 0;
	display: inline;
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #365B0B;
}

#logo
{
	padding: 90px 0px 0px 0px;
	font-size: 200%;
	float: left;
}

#logo div {
	font-size: 50%;
	padding: 5px 0px 0px 0px;
}



#mainmenu
{
	background:#365B0B;
	border-bottom: 3px solid #6DB114;
	clear: both;
}

#mainmenu ul
{
	padding:6px 20px 0px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #fff;
	background-color:#6DB114;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #365B0B;
/*	border-left: 5px solid #6DB114;*/
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #fff;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#DCE4DD;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #365B0B;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #365B0B;
}

.operations li a:hover
{
	background: #6DB114;
	color: #fff;
}









.dg {
	border: 3px solid red;
}




h2.title {
	min-height: 41px;
	height: auto;
	padding: 7px 0px 0px 0px;
	letter-spacing: -.5px;
	margin-bottom: 10px;
}







.post {
	margin-bottom: 20px;
	border-bottom: 1px dotted #E7E2DC;
}

.post .title {
	min-height: 41px;
	height: auto;
	padding: 7px 0px 0px 0px;
	letter-spacing: -.5px;
	margin-bottom: 10px;
}

.post .title a {
	border: none;
	text-decoration:none;
}

.post .postDraft a {
	color: #ccc;
}

.post .meta {
	margin-bottom: 30px;
	padding: 0px 0px 0px 0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-style: italic;
	color: #ccc;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 0px 0px;
	padding-bottom: 0px;
	text-align: justify;
}

.links {
	padding-top: 20px;
	font-size: 12px;
	font-weight: bold;
	color: #ccc;
}




span.required {
	color: red;
}


thead th {
/*	background:#c3d9ff;*/
	white-space: nowrap;

}

tr.bold td {
	font-weight: bold;
}
tr.normal td {
	font-weight: normal;
}

.btn, {
	min-height: 20px !important;
	height: 20px;
}


